body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  display: flex;
}

.side{
  height: 100%;
  width: 200px;
  position: fixed;
  overflow: auto;
  background-color: #eee;
}

.main {
  box-sizing: border-box;
  margin-left: 220px;
}

.post{
  list-style: none;
  height: 40px;
  font-family: "NotoSansCJKjp";
}

.post .post_title{
  padding-left: 1em;
  font-family: 'NotoSansCJKjp';
}